/* Roboto Slab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*md-display-computer-modern --> CMU Serif*/
@import url("https://fonts.cdnfonts.com/css/cmu-serif?styles=30038,30039,30037,30036");
/*md-display-monospace --> CMU Typewriter Text*/
@import url("https://fonts.cdnfonts.com/css/cmu-typewriter-text?styles=24833,24829,24830,24831,24832,24834");
/*code-monospace --> Fira Code*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");
/*md-edit-monospace --> Hack*/
@import url("https://fonts.cdnfonts.com/css/hack?styles=20708,20707,20705,20706");

:root {
    /* Base colors */
    --texbook-red: #d43133;
    --texbook-pink: #D14187;
    --texbook-turquoise: #009489;
    --texbook-azure: #00afde;
    --texbook-blue: #2875d9;
    --texbook-light-grey: #828282;
    --texbook-dark-grey: rgb(56, 56, 56);

    /* Font formatting */
    --background-color: #ffffff;
    --txbk-ui-font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --txbk-ui-color: rgb(51, 51, 51);
    --txbk-ui-font-size: 14px;
    --txbk-ui-line-height: 1;

    --txbk-ui-header-font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --txbk-ui-header-color: rgb(56, 56, 56);

    --txbk-ui-mono-color: #828282;
    --txbk-ui-mono-font-size: 15px;
    --txbk-ui-mono-line-height: 1.4;

    /* Content Formatting */
    --txbk-content-font-family: "CMU Serif", "Times New Roman", serif;
    --txbk-content-font-size: 19px;
    --txbk-content-color: rgb(51, 51, 51);
    --txbk-content-line-height: 1.4;

    --txbk-content-mono-font-family: "CMU Typewriter Text", "Fira Code", Menlo, monospace;
    --txbk-content-mono-font-size: 16px;
    --txkb-content-mono-color: var(--texbook-dark-grey);
    --txbk-content-mono-bgcolor: var(--code-background-color);

    --txbk-code-font-family: "Fira Code", monospace;
    --txbk-md-font-family: "Hack", monospace;
    --txbk-code-font-size: 16px;
    --txbk-code-line-height: 1.6;
    --txkb-code-color: var(--code-text-color);
    --txbk-code-bgcolor: var(--code-background-color);

    --link-color: #2875d9;
    --del-color: #d43133;
    --drop-cap-color: #d43133;

    --kernel-name-color: #00afde;
    --kernel-idle: #009489;
    --kernel-busy: #D14187;
    --kernel-disconnected: #d43133;
    --btn-warning: #D14187;
    --btn-danger: #d43133;
    --running-notebook: #009489;

    --cell-display-border: rgb(255, 216, 54);
    --cell-edit-border: #d43133;


    /* Color Palette */
    --white: #ffffff;
    --light-white: #FAFAFA;
    --black: #24292E;
    --dark-blue: #01579B11;
    --dark-blue-2: #01579B22;
    --blue: #1565C0;
    --green: #2E7D32;
    --yellow: #A8601A;
    --cyan: #00838f;
    --magenta: #9C00B0;
    --red: #C0392B;
    --grey: #9E9E9E;
    --light-blue: #78909c;

    --ansi-black: var(--black);
    --ansi-red: var(--red);
    --ansi-green: var(--green);
    --ansi-yellow: var(--yellow);
    --ansi-blue: var(--blue);
    --ansi-magenta: var(--magenta);
    --ansi-cyan: var(--cyan);
    --ansi-gray: var(--grey);
    --ansi-bright-black: var(--black);
    --ansi-bright-red: var(--red);
    --ansi-bright-green: var(--green);
    --ansi-bright-yellow: var(--yellow);
    --ansi-bright-blue: var(--blue);
    --ansi-bright-magenta: var(--magenta);
    --ansi-bright-cyan: var(--cyan);
    --ansi-bright-gray: var(--white);


    /* Editor Theme */
    --code-background-color: var(--light-white);
    --gutter-background: var(--light-white);
    --selection-background-color: var(--dark-blue-2);
    --line-numbers: var(--grey);
    --cursor: var(--black);
    --bracket: var(--black);
    --matching-bracket: var(--blue);
    --code-text-color: var(--black);
    --keywords: var(--magenta);
    --types: var(--magenta);
    --variables: var(--code-text-color);
    --variables2: var(--green);
    --def: var(--blue);
    --property: var(--blue);
    --meta: var(--light-blue);
    --builtin: var(--blue);
    --attribute: var(--blue);
    --strings: var(--yellow);
    --strings2: var(--grey);
    --comments: var(--grey);
    --operator: var(--magenta);
    --numbers: var(--red);

    /* Dataframe */
    --dataframe: var(--code-text-color);
    --df-bg: var(--light-white);
    --df-thead: var(--blue);
    --df-thead-border: var(--black);
    --df-tr-hover: var(--selection-background-color);
    --df-border: var(--white);
    --df-border-right: var(--grey);
    --df-th-bg: var(--white);

    --mono-md-bg: var(--code-background-color);

    /*COLAB Variables Override*/
    --colab-icon-color: var(--texbook-torquoise);
    --colab-dark-orange: var(--texbook-pink);
    --paper-red-a700: var(--texbook-red);
    --colab-primary-text-color: var(--text-color);
    --colab-code-font-family: var(--txbk-code-font-family);
    --colab-google-sans-font-family: var(--text-ui-font);
    --code-cell-background: #fafafa; /*material design theme editor*/
    --colab-anchor-color: var(--link-color);
    --colab-border-color: var(--texbook-light-grey);
    --colab-bold-border-color: var(--texbook-dark-grey);

    --paper-font-common-base_-_font-family: var(--txbk-ui-font-family);
    --paper-font-common-code_-_font-family: var(--txbk-md-font-family);

}

html {
    font-size: 10px;
}

body {

    background-color: var(--background-color) !important;
    font-weight: 300;
    font-family: var(--txbk-ui-font-family);
    color: var(--txbk-ui-color);
    overflow: inherit;
    vertical-align: middle;
    font-size: var(--txbk-ui-font-size);
}

h1, h2, h3, h4, h5, h6, label > strong {
    font-family: var(--txbk-ui-header-font-family);
    color: var(--txbk-ui-header-color);
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    display: inline !important;
}

h1 {
    font-weight: bold;
    font-style: normal;
}

h2 {
    font-weight: bold;
    font-style: italic;
}

h3 {
    font-weight: 600;
    font-style: normal;
}

h4 {
    font-weight: 500;
    font-style: normal;
}

h5, h6 {
    font-weight: 500;
    font-style: italic;
}

code, kbd, pre, samp {
    font-family: var(--txbk-code-font-family) !important;
    color: var(--txbk-ui-mono-color) !important;
    font-weight: 400;
    font-size: var(--txbk-ui-mono-font-size) !important;
    line-height: var(--txbk-ui-mono-line-height) !important;
}

table > thead > tr > td.info,
table > tbody > tr > td.info,
table > tfoot > tr > td.info,
table > thead > tr > th.info,
table > tbody > tr > th.info,
table > tfoot > tr > th.info,
table > thead > tr.info > td,
table > tbody > tr.info > td,
table > tfoot > tr.info > td,
table > thead > tr.info > th,
table > tbody > tr.info > th,
table > tfoot > tr.info > th {
    background-color: #d9edf7;
}

del {
    color: var(--del-color) !important;
}

/* ======================================================
                 Colab Notebook main page
   ======================================================
*/

.notebook-vertical, .notebook-horizontal {
    text-align: justify !important;
}

#top-toolbar {
    color: var(--text-head-color) !important;
    font-weight: 500;
}


a:link {
    color: var(--link-color);
    font-weight: 300;
}

/* ==========
   LEFT PANEL
   ==========
*/

/* In TOC, have links colored as text but bolder */
colab-table-of-contents a:link {
    color: var(--text-color) !important;
    font-weight: 400;
}

.colab-left-pane-close {
    --colab-icon-color: var(--texbook-pink);
}

.colab-assist-result-insert {
    --colab-icon-color: var(--texbook-torquoise);
    color: var(--colab-icon-color);
}

.colab-icon.file-icon {
    --colab-icon-color: var(--texbook-dark-grey);
    color: var(--colab-icon-color) !important;
}

/* =====
   ICONS
   =====
*/

paper-icon-button .head-section-toggle > iron-icon {
    color: var(--text-head-color) !important;
    background-color: #ffffff !important;
}

paper-icon-button.header-section-toggle {
    left: -22px !important;
}

div.cell.text.focused.edit paper-icon-button.header-section-toggle {
    display: none
}

.colab-left-pane-open .colab-left-pane-nib paper-item.iron-selected {
    border-left-color: var(--colab-dark-orange);
    color: var(--colab-dark-orange);
}

colab-cell-toolbar {
    --colab-icon-color: var(--texbook-dark-grey);
}

/* ======
   HEADER
   ======
*/
.header-warning, #message-area-secondary {
    background-color: var(--text-head-color);
    color: #ffffff;
    font-weight: 300;
}

.header-warning a:link, #message-area-secondary a:link {
    color: #fff;
    font-weight: 400;
}

.header-warning paper-icon-button.close {
    background-color: var(--texbook-red);
}

#doc-name {
    font-family: var(--text-ui-font) !important;
}

/* Hide Drive Icon */
#file-type {
    display: none;
}

/* =============
   CELLS
  ==============
*/

.add-button {
    font-weight: 500;
}

.add-button.add-text, #toolbar-add-text {
    --colab-icon-color: var(--texbook-pink) !important;
    --iron-icon-fill-color: var(--texbook-pink) !important;
    font-weight: 500 !important;
}

.add-button.add-code, #toolbar-add-code {
    --colab-icon-color: var(--texbook-turquoise) !important;
    --iron-icon-fill-color: var(--texbook-turquoise) !important;
    font-weight: 500 !important;
}

/* ======================================================
                         Notebook
   ======================================================
*/

#site {
    overflow: inherit;
    top: 112px;
    position: absolute;
}

#notebook-container {
    /* Remove shadow so that it looks like a page of a PDF doc */
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    padding: 0;
}

#notebook-horizontal {
    border-top: none;
    font-size: 1rem;
}

#top-toolbar {
    font-family: var(--txbk-ui-font-family);
}


/* -----------------------------------
    CELLS
   -----------------------------------
*/

div.cell {
    /*
    padding: 12px 0 5px 0 !important;
    right: 2px;
    */
    border: none;
}

div.cell .main-content {
    /*padding-left: 5px;*/
    border-right: 5px solid var(--background-color);
    border-left: 0.1rem dotted var(--background-color);
}

/*
--> DISABLE position sticky for cell-execution button
*/
.notebook-vertical:not(.large-notebook) .cell.icon-scrolling .output-info > .output-icon,
.notebook-vertical:not(.large-notebook) .cell.icon-scrolling .cell-execution {
    position: absolute;
}

div.cell-gutter {
    color: var(--cell-display-border);
    font-weight: bold !important;
    font-size: .0rem;
}

div.cell-execution-indicator:after {
    content: "\279E";
    font-size: 24px !important;
    width: 10px;
    color: var(--texbook-torquoise);
    font-weight: bold !important;
    display: inline-block;
    position: absolute;
    left: 10px;
}

/* Current Selected Cell*/
div.cell.code .cell-execution-indicator,
div.cell.code .cell-execution-container {
    background-color: #ffffff;

}

/* Change default button appearance */
div.cell-execution-indicator paper-icon-button {
    background-color: transparent;
    color: transparent;
    z-index: 11; /* very high to make sure it overlays */
}

div.cell-execution .cell-spinner {
    border-color: var(--texbook-torquoise) !important;
}

div.cell.focused div.cell-execution .cell-spinner {
    border-color: var(--texbook-pink) !important;
}


div.cell.focused .cell-execution-indicator:after {
    content: "\279E";
    font-size: 22px;
    width: 10px;
    color: var(--texbook-pink);
    font-weight: bold !important;
    display: inline-block;
    position: absolute;
    left: 10px;

}

div.cell.focused {
    border-radius: 0;
}

div.cell.focused {
    border: none;
    background: none !important;
}

div.cell.focused .main-content {
    /* left and right border on current cell */
    border-left: 0.1rem dotted lightgrey;
    /* coloured and visible */
    border-right: 5px solid var(--cell-display-border);
    /*margin-right: -2px;*/
}

div.code_cell.focused .main-content {
    border-left: 0 !important;
}

.edit_mode div.code_cell.focused .main-content,
div.text_cell.focused.unrendered .inner_cell {
    border-left: none;
    border-right: 5px solid var(--cell-edit-border);
}

/*
Overlay with Shadow for Code Cell Selected !
*/
div.code.cell.focused {
    border: none;
    background: transparent;
    box-shadow: 0 6px 18px #aaa;
    z-index: 10;
    top: -10px;
    margin-top: 30px; /*More margin to include toolbar on the top-right*/
    margin-bottom: 20px
}

/* Hide the Add cell class at the bottom of the cell */
div.code.cell.focused .add-cell {
    display: none;
}

/*  ============
    CELL Output
    ============
*/

div.output_view {
    margin-top: 8px;
}

div.output-area pre, div.output_subarea {
    font-weight: normal;
    word-wrap: break-word;
}

div.output_subarea.output_text pre {
    font-family: var(--txbk-code-font-family) !important;

    font-size: 16px !important;
    color: var(--texbook-light-grey);
    padding-bottom: 16px;
    padding-top: 10px;
    margin-left: -15px;
}

/* Output Standard Error  */
div.output-error {
    background-color: #FFFFFF;
    margin-left: 25px;
    font-family: var(--txbk-code-font-family) !important;
}

/* Output HTML after cell code - e.g. Pandas DataFrame */
div.output_html {
    color: var(--code-text-color);
}


div.output_html {
    font-weight: normal;
    font-family: var(--txbk-code-font-family) !important;
    padding-bottom: 15px;
    padding-top: 10px;
}

div.output_html > iframe, div.output_area {
    margin-left: 3em;
}

div.output_subarea {
    margin-left: 1em;
}

div.output_svg div {
    max-width: 98%;
    margin-left: 0 !important;
}

/* -----------------------------------
    CELLS Render
   -----------------------------------
*/

/* -- CODE CELLS -- */

/* Display + Edit modes */
.view-lines {
    --text-mono-line-height: 1.6;

    font-family: var(--txbk-code-font-family) !important;
    font-size: var(--txbk-code-font-size) !important;
    line-height: var(--txbk-code-line-height) !important;
}

div.line-numbers {
    --text-mono-font-size: 12px !important;
}

/* ------------------------------------------------------------------
        MARKDOWN CELLS (DISPLAY MODE)

        Notes: Font-families to use here:
            md-text --> general text (Computer Modern Typeface, CMU)
            md-mono --> Monospace output (CMU Typewriter)
   ------------------------------------------------------------------
 */

.text .markdown {
    max-width: 95% !important;
    text-align: justify !important;
    margin-left: 10px;
}

div.markdown {
    font-family: var(--txbk-content-font-family) !important;
    font-size: var(--txbk-content-font-size) !important;
    color: var(--txbk-content-color) !important;
    text-align: justify !important;
    display: block;
    word-break: normal !important;
    word-wrap: break-word !important;
}

.markdown a {
    color: var(--link-color) !important;
}

.markdown h1, .markdown h2,
.markdown h3, .markdown h4,
.markdown h5, .markdown h6 {
    font-family: var(--txbk-content-font-family) !important;
    font-style: normal !important;
}

.markdown h1, .markdown h2, .markdown h3,
.markdown h4, .markdown h5, .markdown h6 {
    margin-bottom: 0.35em;
    margin-top: 0.35em;
}

/* ===================================
   Markdown Headers and corresponding
   Edit Mode preview
   ===================================
*/
.markdown h1 {
    font-size: 4.2rem !important;
    text-align: center !important;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

div.cell.text.focused.edit h1.text-cell-section-header,
div.cell.text.focused.edit .markdown h1 {
    font-size: 1.25em !important;
    padding-bottom: .25rem;
}

.markdown h2 {
    font-size: 3.8rem !important;
}

div.cell.text.focused.edit h2.text-cell-section-header,
div.cell.text.focused.edit .markdown h2 {
    font-size: 1.2em !important;
}

.markdown h3 {
    font-size: 3.4rem !important;
}

div.cell.text.focused.edit h3.text-cell-section-header,
div.cell.text.focused.edit .markdown h3 {
    font-size: 1em !important;
}

.markdown h4 {
    font-size: 3rem !important;
}

div.cell.text.focused.edit h4.text-cell-section-header,
div.cell.text.focused.edit .markdown h4 {
    font-size: .9em !important;
}

.markdown h5 {
    font-size: 2.6rem !important;
}

div.cell.text.focused.edit h5.text-cell-section-header,
div.cell.text.focused.edit .markdown h5 {
    font-size: .8em !important;
}

.markdown h6 {
    font-size: 2.2rem !important;
    border-bottom: 1px solid rgb(204, 204, 204);
}

div.cell.text.focused.edit h6.text-cell-section-header,
div.cell.text.focused.edit .markdown h6 {
    font-size: .7em !important;
}

.markdown p,
.markdown pre, .markdown code {
    font-size: 1em !important;
    color: var(--code-text-color) !important;
    /*line-height: var(--txbk-code-line-height);*/
}

/* Monospace Code - no code syntax highlight*/
.markdown pre {
    /* hack: using code background colour here to allow for compatibility */
    background-color: var(--code-background-color) !important;
    font-family: var(--txbk-content-mono-font-family) !important;
    letter-spacing: .25px;
}

.markdown p {
    text-align: justify !important;
}

.markdown p code {
    background-color: var(--mono-md-bg) !important;
}

.markdown p strong code {
    font-weight: bold !important;
}

.markdown p em code {
    font-style: italic !important;
}

.markdown pre code {

    --text-mono-line-height: 1.3;

    font-size: 1em !important;
    padding: 1rem 1.5rem;
    display: block !important;
    color: var(--code-text-color) !important;
    background-color: var(--code-background-color) !important;
    font-family: var(--txbk-content-mono-font-family) !important;
    word-wrap: break-word;
    word-break: normal;
}


.markdown blockquote {
    --text-color: #6f6f6f !important;

    margin: 2rem .2rem !important;
    padding: .3rem .5rem !important;
    border-left: .3rem solid #a7a7a7 !important;
}

.markdown blockquote p {
    padding: .2rem 1.5rem;
}

.markdown table {
    font-size: var(--text-font-size) !important;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: auto;
    break-inside: auto;
    text-align: left;
    margin-top: 25px;
}

.markdown table thead {
    display: table-header-group;
    vertical-align: middle !important;
    border-bottom: none !important;
}

/* -- MARKDOWN CELLS (Edit) -- */

/* md cell */

.markdown-toolbar .colab-icon {
    --colab-icon-color: var(--texbook-dark-grey);
    color: var(--colab-icon-color) !important;
}

div.cell.text.focused.edit div.editor.monaco .view-lines {
    font-family: var(--txbk-md-font-family) !important;
    font-size: var(--txbk-code-font-size) !important;
    font-weight: 400;
}

/* Dashed Borders */
.text.edit .editor-container:not(.horizontal) .editor {
    padding-top: 10px;
    padding-bottom: 10px;
}

.text.edit .editor-container:not(.vertical) .editor {
    padding-right: 10px;
    margin-top: 5px;

}

div.editor-root > .monaco {
    min-height: 250px !important;
}

div.cell.text.edit .monaco-editor {
    position: relative !important;
    max-width: 100% !important;
    text-align: justify !important;
    min-height: 250px !important;
}


div.cell.text.edit .monaco-editor .view-ruler {
    /*position: absolute !important;
    left: 790px !important;
    */
    display: none !important;
}


div.markdown table thead tr,
div.markdown table thead tr th,
div.markdown table thead tr td,
div.markdown table tbody tr,
div.markdown tbody tr th,
div.markdown table tbody tr td {
    break-inside: avoid;
    break-after: auto;
    text-align: left !important;
    vertical-align: middle !important;
    padding: 0 !important;
}

div.markdown table tr th {
    border-bottom-width: 0;
}

.markdown p, .markdown ol, .markdown ul {
    font-size: var(--txbk-content-font-size) !important;
    margin-top: 0 !important;
}

div.markdown ul, div.markdown ol {
    position: relative;
    display: block;
    margin-bottom: 0 !important;
    line-height: var(--txbk-content-line-height);
}

div.markdown ul {
    list-style-type: disc;
}

div.markdown ul li, div.markdown ol li {
    /*white-space: pre-wrap;*/
    padding: .3rem !important;
}

div.markdown ul ul {
    list-style-type: circle !important;
}

div.markdown ul ul,
div.markdown ul ol,
div.markdown ol ul,
div.markdown ol ol {
    padding-top: .15rem !important;
}

div.markdown ul li > ul li,
div.markdown ul li > ol li,
div.markdown ol li > ul li,
div.markdown ol li > ol li {
    padding: .15rem !important;
}

div.markdown ul ul ul {
    list-style-type: square !important;
}

div.markdown img {
    display: block;
    margin: auto;
    max-width: 30% !important;
}

/*
===================
CODE EDITOR
===================
*/
.monaco-editor {
    --background-color: var(--code-background-color);

    color: var(--code-text-color) !important;
    background-color: var(--code-background-color) !important;
}

.monaco-editor .selectionHighlight {
    background-color: var(--selection-background-color) !important;
}

div.cell.code .monaco {
    margin: 20px;
}

.mtk1 {
    color: var(--code-text-color) !important;
}


.mtk6 {
    color: var(--operator);
}

.mtk8 {
    color: var(--comments);
}

.mtk11 {
    color: var(--numbers);
}

.mtk13 {
    color: var(--builtin);
}

.mtk14 {
    color: var(--def) !important;
}

.mtk15 {
    color: var(--builtin);
}


.mtk18 {
    color: var(--keywords);
}


.mtk26 {
    color: var(--strings);
}

/*
========================
Extra Classes and Tweaks
========================
*/
.MathJax_Display {
    font-size: 2.2rem;
    color: rgb(83, 83, 83) !important;
}

/*
    ===================================

    New CSS Classes and Styles

    ===================================
*/

/* ------------
    Footnotes
   ------------
*/
span[id^='fn'], span[class^='fn'] {
    font-size: small !important;
    font-weight: normal !important;
    font-style: normal !important;
    border-top: 1px solid var(--txbk-ui-mono-color);
    padding-top: .8rem;
    display: block;
}

p > span[id^='fn']:not(:first-child),
p > span[class^='fn']:not(:first-child) {
    border-top: 0 !important;
}

[id^='fn'] i, [class^='fn'] i, p > strong > strong {
    background-color: var(--txbk-content-mono-bgcolor);
    font-style: normal !important;
    font-weight: bold !important;
    text-transform: capitalize;
}

/* FIX Forcing monospace code to adhere with footnotes rules!*/
div.markdown p > [id^='fn'] code,
div.markdown p > [class^='fn'] code {
    font-size: 1em !important;
}

/* ------------
    Drop cap
   ------------
*/
.drop {
    color: var(--drop-cap-color);
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    margin-top: 0.2rem;
}


/* -----------------------------
    TexBook Text colors classes
   -----------------------------
*/
.texbook-red {
    color: var(--texbook-red);
}

.texbook-pink {
    color: var(--texbook-pink);
}

.texbook-turquoise {
    color: var(--texbook-turquoise);
}

.texbook-azure {
    color: var(--texbook-azure);
}

.texbook-blue {
    color: var(--texbook-blue);
}

.texbook-light-grey {
    color: var(--texbook-light-grey);
}

.texbook-dark-grey {
    color: var(--texbook-dark-grey);
}

/* ---------------------------------------------------------
    IMG MaxWidthXX
    CSS classes to control the max-width property of images
    when the default 70% is not enough.
    This is when images need to be enlarged or shrunk.
    Percentage of max-width supported are:
    - 10%
    - 15%
    - 20%
    - 25%
    - 30%
    - 40%
    - 50%
    - 80%
    - 85%
    - 90%
    - 100%
   ---------------------------------------------------------
*/

div.markdown img.maxw10,
div.markdown p > img.maxw10 {
    max-width: 10% !important;
}

div.markdown img.maxw15,
div.markdown p > img.maxw15 {
    max-width: 15% !important;
}

div.markdown img.maxw20,
div.markdown p > img.maxw20 {
    max-width: 20% !important;
}

div.markdown img.maxw25,
div.markdown p > img.maxw25 {
    max-width: 25% !important;
}

div.text_cell_render img.maxw30,
div.text_cell_render p > img.maxw30 {
    max-width: 30% !important;
}

div.markdown img.maxw40,
div.markdown p > img.maxw40 {
    max-width: 40% !important;
}

div.markdown img.maxw50,
div.markdown p > img.maxw50 {
    max-width: 50% !important;
}

div.markdown img.maxw80,
div.markdown p > img.maxw80 {
    max-width: 80% !important;
}

div.markdown img.maxw85,
div.markdown p > img.maxw85 {
    max-width: 85% !important;
}

div.markdown img.maxw90,
div.markdown p > img.maxw90 {
    max-width: 90% !important;
}

div.markdown img.maxw100,
div.markdown p > img.maxw100 {
    max-width: 100% !important;
}

/*CUSTOM COLAB*/

.toc-section.toc-cell-focused > .toc-cell, .toc-cell.toc-cell-focused {
    font-weight: 500 !important;
}