/* ======================================================
                         GLOBALS
   ======================================================
*/

:root {
    /* Base colors */
    --texbook-red: #d43133;
    --texbook-pink: #D14187;
    --texbook-turquoise: #009489;
    --texbook-azure: #00afde;
    --texbook-blue: #2875d9;
    --texbook-light-grey: #828282;
    --texbook-dark-grey: rgb(56, 56, 56);
    --texbook-yellow: #f9ab00;
    --texbook-orange: #e8710a;

    /* Font formatting */
    --background-color: #ffffff;
    --txbk-ui-font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --txbk-ui-color: rgb(51, 51, 51);
    --txbk-ui-font-size: 14px;
    --txbk-ui-line-height: 1;

    --txbk-ui-header-font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --txbk-ui-header-color: rgb(56, 56, 56);

    --txbk-ui-mono-color: #828282;
    --txbk-ui-mono-font-size: 15px;
    --txbk-ui-mono-line-height: 1.4;

    /* Cells */
    --txbk-cell-selected-border-left-color: lightgrey;
    --txbk-cell-border-color: var(--background-color);
    --txbk-multiselect-bgcolor: var(--background-color);
    --txbk-cell-display-border-color: #009489;
    --txbk-cell-edit-border-color: #d43133;

    /* Content Formatting */
    --txbk-content-font-family: "CMU Serif", "Times New Roman", serif;
    --txbk-content-font-size: var(--template-txbk-content-font-size);
    --txbk-content-color: rgb(51, 51, 51);
    --txbk-content-line-height: var(--template-txbk-content-line-height);

    --txbk-content-mono-font-family: var(--template-txbk-content-mono-font-family);
    --txbk-content-mono-font-size: var(--txbk-content-font-size);
    --txbk-content-mono-color: var(--texbook-dark-grey);
    --txbk-content-mono-bgcolor: var(--code-background-color);

    --txbk-code-font-family: var(--template-txbk-code-font-family);
    --txbk-code-font-size: var(--template-txbk-code-font-size);
    --txbk-md-font-family: var(--template-txbk-md-font-family);
    --txbk-md-font-size: var(--template-txbk-md-font-size);
    --txbk-code-line-height: 1.6;
    --txbk-code-color: var(--code-text-color);
    --txbk-code-bgcolor: var(--code-background-color);

    --link-color: var(--texbook-blue);
    --del-color: var(--texbook-red);
    --drop-cap-color: var(--texbook-red);;

    --kernel-name-color: var(--texbook-azure);
    --kernel-idle: var(--texbook-turquoise);
    --kernel-busy: var(--texbook-pink);
    --kernel-disconnected: var(--texbook-red);
    --btn-warning: var(--texbook-pink);
    --btn-danger: var(--texbook-red);
    --running-notebook: var(--texbook-turquoise);
}

html {
    font-size: 10px;
}

body {

    background-color: var(--background-color) !important;
    font-weight: 300;
    font-family: var(--txbk-ui-font-family);
    color: var(--txbk-ui-color);
    overflow: inherit;
    vertical-align: middle;
    font-size: var(--txbk-ui-font-size);
}

h1, h2, h3, h4, h5, h6, label > strong {
    font-family: var(--txbk-ui-header-font-family);
    color: var(--txbk-ui-header-color);
}

h1 img, h2 img , h3 img, h4 img, h5 img, h6 img {
    display: inline !important;
}

h1 {
    font-weight: bold;
    font-style: normal;
}

h2 {
    font-weight: bold;
    font-style: italic;
}

h3 {
    font-weight: 600;
    font-style: normal;
}

h4 {
    font-weight: 500;
    font-style: normal;
}

h5, h6 {
    font-weight: 500;
    font-style: italic;
}

code, kbd, pre, samp {
    font-family: var(--txbk-code-font-family);
    color: var(--txbk-ui-mono-color);
    font-weight: 400;
    font-size: var(--txbk-ui-mono-font-size);
    line-height: var(--txbk-ui-mono-line-height);
}

table > thead > tr > td.info,
table > tbody > tr > td.info,
table > tfoot > tr > td.info,
table > thead > tr > th.info,
table > tbody > tr > th.info,
table > tfoot > tr > th.info,
table > thead > tr.info > td,
table > tbody > tr.info > td,
table > tfoot > tr.info > td,
table > thead > tr.info > th,
table > tbody > tr.info > th,
table > tfoot > tr.info > th {
    background-color: #d9edf7;
}

del {
    color: var(--del-color) !important;
}

/* ======================================================
                 Intro/Home Page Server
   ======================================================
*/

#ipython-main-app p {
    text-align: justify !important;
}

.toolbar_info,
.list-container {
    color: #828282;
}

.list_placeholder {
    font-family: "Roboto Slab", serif !important;
    font-weight: 300;
    font-style: normal;
}

a.item_link {
    color: var(--link-color);
    font-weight: 300;
}

.item_buttons .kernel-name {
    color: var(--kernel-name-color);
    font-weight: 400;
}

.btn-warning {
    background-color: var(--btn-warning) !important;
    border-color: var(--btn-warning) !important;
}

.btn-warning:focus {
    border-color: var(--btn-warning) !important;
}

.btn-danger {
    background-color: var(--btn-danger) !important;
    border-color: var(--btn-danger) !important;
}

.btn-danger:focus {
    border-color: var(--btn-danger) !important;
}

.running-indicator,
.running_notebook_icon:before {
    color: var(--running-notebook);
}



/* ======================================================
                         Notebook
   ======================================================
*/

/* Modal Dialog */

.modal-header > h4 {
    font-style: normal !important;
    text-decoration: none !important;
    font-family: var(--txbk-ui-font-family) !important;
    margin: 0 !important;
}

.notebook_app {
    background-color: var(--background-color) !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
}

div#notebook_name {
    font-family: var(--txbk-ui-font-family) !important;
    font-weight: normal;
    font-size: 24px;
    padding: 1px 7px 1px 1px;
}

div#site {
	overflow: inherit;
    top: 112px;
    position: absolute;
}

#header {
    display: block;
    position: fixed !important;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    background-color: var(--background-color);
}

#notebook-container {
    /* Remove shadow so that it looks like a page of a PDF doc */
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    padding: 0;
}

div#notebook {
    border-top: none;
    font-size: 1rem;
    padding: 0 !important;
    padding-top: 30px !important;
    font-family: var(--txbk-content-font-family) !important;
}

.kernel_idle_icon:before {
    color: var(--kernel-idle);
}

.kernel_busy_icon:before {
    color: var(--kernel-busy);
}

.kernel_disconnected_icon:before {
    color: var(--kernel-disconnected);
}

#notification_area {
    font-family: var(--txbk-ui-font-family);
}

#notification_kernel {
    color: #fff;
    background-color: var(--kernel-idle);
    border-color: var(--kernel-idle);
}

#notification_kernel.warning {
    color: #fff;
    background-color: var(--kernel-disconnected);
    border-color: var(--kernel-disconnected);
}

#notification_trusted {
    border-color: var(--kernel-disconnected);
}

#notification_trusted[disabled="disabled"] {
    border-color: var(--kernel-idle);
}


#notification_notebook {
    border-color: var(--kernel-idle);
}

/* -----------------------------------
    CELLS
   -----------------------------------
*/

div.cell {
    right: 2px;
    border:  none;
    margin-top: 5px;
}

div.cell.selected {
    /* Reset all - ready for customisation */
    border-radius: 0;
    background: none;
}

div.cell .inner_cell {
    border-right: 5px solid var(--txbk-cell-border-color);
    border-left:  0.2rem dotted var(--txbk-cell-border-color);
}

div.cell.selected:not(.jupyter-soft-selected) .inner_cell {
    border-left-color:  var(--txbk-cell-selected-border-left-color);
}

.command_mode div.cell.selected:not(.jupyter-soft-selected) .inner_cell {
    border-right-color: var(--txbk-cell-display-border-color);
}

.edit_mode div.cell.selected:not(.jupyter-soft-selected) .inner_cell {
    border-right-color: var(--txbk-cell-edit-border-color);
}

/* Multiple Selection */
.command_mode div.cell.jupyter-soft-selected {
    border: 2px dashed var(--texbook-azure);
    background: var(--txbk-multiselect-bgcolor);
    margin-top: 10px;
}

/*
Overlay with Shadow for Code Cell Selected !
*/
div.code_cell.selected,
.command_mode div.code_cell.jupyter-soft-selected {
    box-shadow: 0 6px 18px #aaa;
    z-index: 10;
    top: -10px;
}

div.code_cell.selected {
    border: none;
    background: transparent;
}

div.prompt {
    font-family: var(--txbk-code-font-family) !important;
    font-style: normal;
    font-size: 1rem;
    text-align: right;
    line-height: 1rem;
    min-width: 9ex;
}

div.cell.selected:before,
div.cell.jupyter-soft-selected:before {
    /* Important Needed to Override */
    width: 0 !important;
    background: none !important;
}

div.cell.selected:not(.jupyter-soft-selected) div.input:before {
    display: inline-block;
    position: relative;
    content: "\279E";
    font-size: 1.8rem;
    top: 11px;
    width: 10px;
    left: 3px;
    color: var(--txbk-cell-display-border-color);
    font-weight: bold !important;
}

.edit_mode div.cell.selected div.input:before,
.edit_mode div.cell.selected.unrendered div.input:before {
    color: var(--txbk-cell-edit-border-color);
}

.code_cell div.input_prompt:after,
.code_cell div.output_prompt:after {
    display: inline-block;
    content: '';
    font-size:  0.75rem;
    font-style: normal !important;
}

.edit_mode div.cell.selected:before{
    width: 0;
    background: none;
}

/* ==========================
    Cell Input and Rendering
   ==========================
*/

div.input_area {
    border-radius: 0;
    border: none;
    padding: 2px 5px 0 5px;
}

div.input_prompt {
    color: #aba9a9;
    font-style: normal;
    font-size: 1.4rem;
    padding-top: 14px;
}

/* FIX:
   Fixing Empty cell output in HTML export
*/
div.output_prompt {
    color: transparent !important;
}

div.input_prompt bdi,
div.output_prompt bdi {
    line-height: 0;
    font-size:0;
    color: transparent;
    left: -10000px;
    content: "\21E2";

}

div.output_wrapper {
    margin-top: 8px;
}

div.output_area div.output_text pre,
div.output_area div.output_markdown p {
    padding-bottom: 15px;
    padding-top: 10px;
}

div.output_area div.output_markdown p {
    font-size: var(--txbk-content-font-size);
}

div.output_area div.output_markdown pre code {
    font-size: var(--txbk-content-mono-font-size);
    font-family: var(--txbk-content-mono-font-family);
    color: var(--txbk-content-mono-color);
}

div.output_area div.output_text pre {
    --txbk-content-mono-font-family: var(--txbk-code-font-family);

    font-weight: normal;
    word-break: normal;
    word-wrap: break-word;
}

/* Output Standard Error  */
div.output_stderr {
    background-color: #FFFFFF;
}

div.out_prompt_overlay:hover {
    box-shadow: none;
    background: none;
}

/* Output HTML after cell code - e.g. Pandas DataFrame */
div.output_html {
    color: var(--code-text-color);
}

div.output_html {
    font-size: 1.4em;
    font-weight: normal;
    font-family: var(--txbk-code-font-family);
}

div.output_html .nomono {
    font-family: var(--txbk-content-font-family);
    margin-top: 0;
    font-size: 1em;
}

div.output_html > iframe, div.output_area {
    margin-left: 2rem;
}

div.output_subarea {
    margin-left: 0;
}

div.output_svg div {
    max-width: 98%;
    margin-left: 0 !important;
}

/* ----------------------------
    Override default CSS rules
   ---------------------------- */
.rendered_html code {
    background-color: transparent !important;
}

.rendered_html h1:first-child,
.rendered_html h2:first-child,
.rendered_html h3:first-child,
.rendered_html h4:first-child,
.rendered_html h5:first-child,
.rendered_html h6:first-child {
    margin-top: 0.25em;
}

.rendered_html h1 {
    margin-top: 0.48em;
}

.rendered_html h2 {
    margin-top: 0.57em;
}

.rendered_html h3 {
    margin-top: 0.85em;
}

.rendered_html h4 {
    margin-top: 1.3em;
}

.rendered_html h5 {
    margin-top: 1.2em;
}

.rendered_html h6 {
    margin-top: 1.1em;
}

/* ===============
    CELLS Render
   =============== */

/*  -------------------------
    (1) CODE CELLS
    Display + Edit modes
    -------------------------
*/
div.code_cell pre, div.CodeMirror, div.CodeMirror-linenumber {
    font-family: var(--txbk-code-font-family);
    font-size: var(--txbk-code-font-size);
    line-height: var(--txbk-code-line-height);
}

div.CodeMirror-linenumber {
    --txbk-ui-mono-font-size: 12px !important;
}

/* -- MARKDOWN CELLS (Edit) -- */

/* md cell */
div.text_cell.unrendered pre {
    /* general font rule */
    font-family: var(--txbk-md-font-family);
    font-size: var(--txbk-md-font-size);
    line-height: var(--txbk-code-line-height);
}

/* md cell headers (edit) */
.cm-header-1, .cm-header-2, .cm-header-3,
.cm-header-4, .cm-header-5, .cm-header-6 {
    /* general font rule */
    font-family: var(--txbk-md-font-family);
}

/* ------------------------------------------------------------------
    (2) MARKDOWN CELLS (DISPLAY MODE)

    Notes: Font-families to use here:
    computer-modern --> general text (Computer Modern Typeface, CMU)
    md-display-monospace --> Monospace output (CMU Typewriter)
   ------------------------------------------------------------------
 */

div.text_cell_render {
    font-family: var(--txbk-content-font-family);
    font-size: var(--txbk-content-font-size);
    color: var(--txbk-content-color);
    font-kerning: auto;
    text-align: justify;
    display: block;
    word-break: normal;
    word-wrap: break-word;
}

div.text_cell_render a {
    color: var(--link-color);
}

div.text_cell_render h1, div.text_cell_render h2,
div.text_cell_render h3, div.text_cell_render h4,
div.text_cell_render h5, div.text_cell_render h6 {
    font-family:  var(--txbk-content-font-family);
    font-style: normal;
}

/* Font-sizes for headers */
div.text_cell_render h1 {
    font-size: 2.2em;
    text-align: center;
    padding-top:  3rem;
    padding-bottom: 3rem;
}

div.text_cell_render h2 {
    font-size: 1.9em;
}

div.text_cell_render h3 {
    font-size: 1.7em;
}

div.text_cell_render h4 {
    font-size: 1.5em;
}

div.text_cell_render h5 {
    font-size: 1.3em;
    border-bottom: 1px solid rgb(204, 204, 204);
}

div.text_cell_render h6 {
    font-size: 1.1em;
}

div.text_cell_render p,
div.text_cell_render pre,
div.text_cell_render code {
    font-size: 1em !important;
}

div.text_cell_render pre,
div.text_cell_render code {
    color: var(--txbk-content-mono-color);
}

/* Monospace Code - no code syntax highlight*/
div.text_cell_render pre {
    /* hack: using code background colour here to allow for compatibility */
    background-color: var(--code-background-color);
    font-family: var(--txbk-content-mono-font-family);
}

div.text_cell_render p {
    line-height: var(--txbk-content-line-height);
    text-align: justify !important;
}

div.text_cell_render code {
    font-family: var(--txbk-content-mono-font-family);
}

/* Monospace inline rendered markdown */
div.text_cell_render p code {
    /*Re-defining variables for Mono using Code Editor's settings*/
    /*--txbk-content-mono-font-family: var(--txbk-code-font-family);*/
    /*--txbk-content-mono-font-size: var(--txbk-code-font-size);*/
    font-size: var(--txbk-content-mono-font-size) !important;
    color: var(--txbk-content-mono-color);
    font-family: var(--txbk-content-mono-font-family);
}

div.text_cell_render p strong code {
    font-weight: bold !important;
    color: var(--txbk-content-mono-color);
}

div.text_cell_render p em code {
    font-style: italic !important;
    color: var(--txbk-content-mono-color);
}

div.text_cell_render pre code {
    padding: 1rem 1.5rem;
    display: block !important;
    color: var(--txbk-content-mono-color);
    background-color: var(--txbk-content-mono-bgcolor) !important;
    font-family: var(--txbk-content-mono-font-family);
    font-size: var(--txbk-content-mono-font-size) !important;
    word-wrap: break-word;
    word-break: normal;
}

div.text_cell_render blockquote {
    --txbk-ui-color: #6f6f6f;
    margin: .2rem .2rem;
    padding: .3rem .5rem;
    border-left: .3rem solid #a7a7a7;
    background-color: var(--txbk-content-mono-bgcolor);
}

div.text_cell_render blockquote:not(:first-child) {
    margin: 2rem .2rem;
}

div.text_cell_render blockquote p {
    padding: .2rem 1.5rem;
}

div.text_cell_render table {
    font-size: var(--txbk-content-font-size) !important;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    break-inside: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

div.text_cell_render table thead {
    display: table-header-group;
    vertical-align: middle;
    border-bottom: none;
}

div.text_cell_render table thead tr,
div.text_cell_render table thead tr th,
div.text_cell_render table thead tr td,
div.text_cell_render table tbody tr,
div.text_cell_render table tbody tr th,
div.text_cell_render table tbody tr td {
    break-inside: avoid;
    break-after: auto;
    vertical-align: middle;
    padding: 5px 5px;
}

div.text_cell_render table tr th {
    border-bottom-width: 0;
}

div.text_cell_render ul, div.text_cell_render ol {
    position: relative;
    display: block;
    margin-bottom: 0 !important;
    line-height: var(--txbk-content-line-height);
}

div.text_cell_render ul {
    list-style-type: disc;
}

div.text_cell_render ul li, div.text_cell_render ol li {
    /*white-space: pre-wrap;*/
    padding: .6rem !important;
}

div.text_cell_render ul ul {
    list-style-type: circle !important;
}

div.text_cell_render ul ul,
div.text_cell_render ul ol,
div.text_cell_render ol ul,
div.text_cell_render ol ol {
    padding-top: .3rem !important;
}

div.text_cell_render ul li > ul li,
div.text_cell_render ul li > ol li,
div.text_cell_render ol li > ul li,
div.text_cell_render ol li > ol li {
    padding: .3rem !important;
}

div.text_cell_render ul li > ul li a code,
div.text_cell_render ul li > ol li a code,
div.text_cell_render ol li > ul li a code,
div.text_cell_render ol li > ol li a code {
    color: var(--link-color);
}

div.text_cell_render ul ul ul {
    list-style-type: square !important;
}

div.text_cell_render p > img:only-child {
    display: block;
    margin: auto;
    max-width: 70% !important;
}

div.text_cell_render img {
    max-width: 70%;
}

/*
    ===================================
    New CSS Classes and Styles
    ===================================

    --------------
    1. Footnotes
    --------------
*/
[id^='fn'], [class^='fn'] {
    font-size: small !important;
    font-weight: normal !important;
    font-style: normal !important;
    border-top: 1px solid var(--txbk-ui-mono-color);
    padding-top: .8rem;
    display: block;
}

p > [id^='fn']:not(:first-child),
p > [class^='fn']:not(:first-child) {
    border-top: 0 !important;
}

[id^='fn'] i, [class^='fn'] i,
[id^='fn'] b, [class^='fn'] b,
[id^='fn'] strong, [class^='fn'] strong,
p > strong > strong {
    background-color: var(--txbk-content-mono-bgcolor);
    font-style: normal !important;
    font-weight: bold !important;
}

/* FIX Forcing monospace code to adhere with footnotes rules!*/
div.text_cell_render p [id^='fn'] > code,
div.text_cell_render p [class^='fn'] > code {
    font-size: 1em !important;
}

/* CSS Anchors link as superscript (like footnotes) */
a[target="_self"][href^="#fn"], a[target="_self"][href*="fn"] {
    font-size: 60%;
    vertical-align: top;
}
/* Surround Footnotes by Square brackets */
a[target="_self"][href^="#fn"]:before, a[target="_self"][href*="fn"]:before {
    content: "[";
}

a[target="_self"][href^="#fn"]:after, a[target="_self"][href*="fn"]:after {
    content: "]";
}

/* --------------
    2. Drop cap
   --------------
*/
.drop {
    color: var(--drop-cap-color);
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    margin-top: 0.2rem;
}

/* -----------------------------
    3. noTeXbook Text colours
   -----------------------------
*/
.texbook-red {
    color: var(--texbook-red);
}

.texbook-pink {
    color: var(--texbook-pink);
}

.texbook-turquoise {
    color: var(--texbook-turquoise);
}

.texbook-azure {
    color: var(--texbook-azure);
}

.texbook-blue {
    color: var(--texbook-blue);
}

.texbook-light-grey {
    color: var(--texbook-light-grey);
}

.texbook-dark-grey {
    color: var(--texbook-dark-grey);
}

.texbook-orange {
    color: var(--texbook-orange);
}

.texbook-yellow {
    color: var(--texbook-yellow);
}

/* ---------------------------------------------------------
    4. IMG MaxWidthXX

    CSS classes to control the max-width property of images
    when the default 70% is not enough.
    This is when images need to be enlarged or shrunk.
   ---------------------------------------------------------
*/

div.text_cell_render img.maxw10,
div.text_cell_render p > img.maxw10 {
    max-width: 10% !important;
}

div.text_cell_render img.maxw15,
div.text_cell_render p > img.maxw15 {
    max-width: 15% !important;
}

div.text_cell_render img.maxw20,
div.text_cell_render p > img.maxw20 {
    max-width: 20% !important;
}

div.text_cell_render img.maxw25,
div.text_cell_render p > img.maxw25 {
    max-width: 25% !important;
}

div.text_cell_render img.maxw30,
div.text_cell_render p > img.maxw30 {
    max-width: 30% !important;
}

div.text_cell_render img.maxw35,
div.text_cell_render p > img.maxw35 {
    max-width: 35% !important;
}

div.text_cell_render img.maxw40,
div.text_cell_render p > img.maxw40 {
    max-width: 40% !important;
}

div.text_cell_render img.maxw45,
div.text_cell_render p > img.maxw45 {
    max-width: 45% !important;
}

div.text_cell_render img.maxw50,
div.text_cell_render p > img.maxw50 {
    max-width: 50% !important;
}

div.text_cell_render img.maxw55,
div.text_cell_render p > img.maxw55 {
    max-width: 55% !important;
}

div.text_cell_render img.maxw60,
div.text_cell_render p > img.maxw60 {
    max-width: 60% !important;
}

div.text_cell_render img.maxw65,
div.text_cell_render p > img.maxw65 {
    max-width: 65% !important;
}

div.text_cell_render img.maxw70,
div.text_cell_render p > img.maxw70 {
    max-width: 70% !important;
}

div.text_cell_render img.maxw75,
div.text_cell_render p > img.maxw75 {
    max-width: 75% !important;
}

div.text_cell_render img.maxw80,
div.text_cell_render p > img.maxw80 {
    max-width: 80% !important;
}

div.text_cell_render img.maxw85,
div.text_cell_render p > img.maxw85 {
    max-width: 85% !important;
}

div.text_cell_render img.maxw90,
div.text_cell_render p > img.maxw90 {
    max-width: 90% !important;
}

div.text_cell_render img.maxw95,
div.text_cell_render p > img.maxw95 {
    max-width: 95% !important;
}

div.text_cell_render img.maxw100,
div.text_cell_render p > img.maxw100 {
    max-width: 100% !important;
}

/*  ------------
     4. Badges
    ------------
*/
.badges img, .badges p img {
    margin: 0 !important;  /* Override margins */
    display: inline !important;
    padding-right: 7px;
}

.badges p {
    display: inline !important;
}

.badges {
    display: block;
    text-align: center;
}

/*  ----------------
     5. Inline Math
    ----------------
*/
.inline-math {
    display: inline-block;
}

/*  --------------------
     6. Inline Mono Font
    --------------------
*/
.codemono code, .codemono pre, .codemono pre code {
    font-family: var(--txbk-code-font-family) !important;
}

.mdmono code, .mdmono pre, .mdmono pre code {
    font-family: var(--txbk-md-font-family) !important;
}
